GUACENC_IMAGE=ghcr.io/dnviti/arsenale/guacenc:latest
GUACENC_CONTAINER_NAME=arsenale-guacenc
GUACENC_BIND_HOST=0.0.0.0
GUACENC_PORT=3003
GUACENC_AUTH_TOKEN=CHANGE_ME
GUACENC_TLS_CERT_FILE=./certs/guacenc-server-cert.pem
GUACENC_TLS_KEY_FILE=./certs/guacenc-server-key.pem
ALLOWED_PREFIX=/recordings/
REDIS_URL=
REDIS_TLS_ENABLED=false
